body {
    color: #666666;
    --main-bg-color: #FFE3F3;
    --primary-color: #FF0090;
    --secondary-color: #7D3AB0;
}

.section {
    background-image: url('../../assets/img/carousel_bg.png');
    background-repeat: no-repeat;
    margin: 0;
}

.mask {
    width: 100%;
    mask-image: linear-gradient(    90deg, 
                                    transparent, 
                                    white, 
                                    white, 
                                    white, 
                                    white, 
                                    white, 
                                    transparent);
    mask-type: luminance;
    mask-mode: auto;
    -webkit-mask-image: linear-gradient(90deg, 
                                    transparent, 
                                    white, 
                                    white, 
                                    white, 
                                    white,
                                    white,
                                    transparent);
    -webkit-mask-type: luminance;
    -webkit-mask-mode: auto;
}

.fg {
    background-image: url('../../assets/img/carousel_fg.png');
    background-size: 100%;
    height: 350px;
    position: relative;
    margin: -180px calc(-50vw + 50%);
}

.img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin: 20px;
    width: 100%;
}

.item-info h3{
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: 700;
}

.item-info p {
    margin-top: 30px;
    margin-bottom: 30px;
}



@media (max-width: 800px){
    .fg {
        background-size: cover;
        margin: -80px calc(-50vw + 50%)
    }

    .item-info {
        background-color: rgba(255, 227, 243, .8);
        padding: 10px 2.5em 50px;
        height: 40vh;
        position: relative;
        margin-top: -180px;
        text-align: center;
    }

    .item-info a{
        display: none;
    }
}