@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

*::-moz-scrollbar {
    display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*
    Agregar clase con el nombre de la maquina sin especios
    y declarar un bg-image con la url de la foto
*/

.fraxface {
    background-image: url('./assets/img/frax_face.png');
}

.criolipolisis {
    background-image: url('./assets/img/crio_m.png');
}

.velavelvet {
    background-image: url('./assets/img/vela_velvet_m.png');
}

.hifu {
    background-image: url('./assets/img/hifu_m.png');
}

@media (max-width: 800px){

    .fraxface {
        background-image: url('./assets/img/frax_face_sm.png');
    }
}