@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

*::-moz-scrollbar {
    display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}